<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<!-- jQuery JS -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <title>Title</title>
    </head>
    <body>
    {% include "navi.html" %}
           <!-- 컨테이너 영역 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
        <div class="container">
            <div class="cnt">주식 종목수</div>
            <div class="cnt2">30개</div>
            <div class="btn_group">
                <button class="main_btn" type="button" onclick="#">주식정보 바로가기</button>
                <button class="main_btn2" type="button" onclick="location.href='{% url 'users:login' %}'">로그인</button>

            </div>
        </div>
    </body>
</html>