<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <title>메인화면</title>
</head>
<body>
{% include "navi.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
    <div class="main-image">
        <div class="container">
            <div class="cnt">주식 종목수</div>
            <div class="cnt2">30개</div>
            <div class="btn_group">
                <button class="main_btn" type="button" onclick='location.href="stock/search/"'>주식정보 바로가기</button>
                <button class="main_btn2" type="button" onclick='location.href="auth/login"'>로그인</button>
            </div>
        </div>
    </div>
</body>
</html>