<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <title>메인화면</title>
</head>
<body>
{% include "navi.html" %}
    <div class="contain">
    <section class="main-section">
        <div class="search">
            검색해주세요
        </div>
        <div class="searchbar-wrap">
            <i class="fas fa-search"></i>
            <input class="search-input" type="text"/>
            <i class="fas fa-keyboard"></i>
        </div>
    </section>
    </div>
</body>
</html>