.main-image {
    position: relative;
    height: 905px;
    overflow: hidden;
    background-image: url('https://blog.toss.im/wp-content/uploads/2018/10/%EB%A9%94%EC%9D%B8-%ED%95%B4%EC%99%B8%EC%A3%BC%EC%8B%9D-%ED%88%AC%EC%9E%90-%ED%8A%B9%EC%A7%95%EA%B3%BC-%EC%A3%BC%EC%8B%9D-%EB%A7%A4%EB%A7%A4-%EC%88%98%EC%88%98%EB%A3%8C%EB%8A%94-%EC%96%B4%EB%96%BB%EA%B2%8C-%EB%90%98%EB%82%98%EC%9A%94-1024x538.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 1px;
}
.container {
    text-align: center;
    position: relative;
}
.cnt{
    margin-top: 250px;
    color: black; font-weight: 600; font-size: 40px;
}
.cnt2{
    margin-top: 20px;
    color: #0431B4; font-weight: 650; font-size: 55px;
}
.btn_group button{
    height: 50px;
    width: 160px;
    border: 0;
    margin-top: 100px;
    text-align: center;
    color: white; font-weight: 550; font-size: 16px;
}
.main_btn {
    background-color: #2043ac;
    margin-right: 4px;
    cursor: pointer;
}

.main_btn:hover {
    background-color: #4169E1;
}
.main_btn2 {
    background-color: #2043ac;
    margin-left: 2px;
    cursor: pointer;
}

.main_btn2:hover {
    background-color: #4169E1;
}
