body {
    margin: 0;
    font-family: 'Nanum Myeongjo';
}

.a_d {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;

}

.navbar_logo a {
    font-size: 24px;
    color: #d49466;
    text-decoration: none;
    margin-left: 23px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 5px
}

.navbar_menu li {
    padding: 8px 25px;
    margin-right: 20px;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_menu li a {
    text-decoration: none;
}

.navbar_menu li a:hover {
    color: white;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
    margin: 5px
}

.navbar_icons li a {
    padding: 8px 25px;
    text-decoration: none;
}

.navbar_icons li a:hover {
    color: #d49466;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 35px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 850px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        line-height: 40px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        line-height: 30px;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
        margin-top: 3px;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
        margin-top: 7px;
        margin-bottom: 11px;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }

}

