.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #EFF2FB;
    height: 80px;
    z-index: 1;
 }
 .name a {
    text-align: center;
    line-height: 80px;
    float: left;
    width: auto;
    color: black; font-weight: 600; font-size: 22px;
    margin-left: 70px;
 }
 .home a{
    text-align: center;
    line-height: 80px;
    float: left;
    width: 110px;
    color: #424242; font-weight: 550; font-size: 16px;
    margin-left: 70px;
 }
 .home a:hover {
    color: #248ae3; font-weight: 600; font-size: 16px;
}
 .menu a{
    text-align: center;
    line-height: 80px;
    float: left;
    width: 110px;
    color: #424242; font-weight: 550; font-size: 16px;
 }
.menu a:hover {
    color: #248ae3; font-weight: 600; font-size: 16px;
}
.q a{
    text-align: center;
    line-height: 80px;
    float: left;
    width: 110px;
    color: #424242; font-weight: 550; font-size: 16px;
 }
.q a:hover {
    color: #248ae3; font-weight: 600; font-size: 16px;
}
.h_right a{
    float:right;
    text-align: center;
    line-height: 80px;
    width: 110px;
    color: #424242; font-weight: 550; font-size: 16px;
}
.h_right a:hover {
    color: black; font-weight: 600; font-size: 16px;
}
.h_right2 a{
    float:right;
    text-align: center;
    line-height: 80px;
    width: 110px;
    margin-right: 100px;
    color: #3104B4; font-weight: 550; font-size: 16px;
}
.h_right2 a:hover {
    color: #210B61; font-weight: 600; font-size: 16px;
}

.noneunderline {
    text-decoration:none;
}