body {
    background-color: #f9f9f9;
}

#logo {
    margin: 40px auto 30px;
    max-width: 175px;
    color: #0080FF;
    font-size: 27px; font-weight: 550; font-family: "고딕";
}

.inlineToBlock {
    display: block;
}

.contentsWrap{
    margin: 90px auto;
    max-width: 460px;
    border: none;
    padding: 20px;
    text-align: center;
}

.joinWindow {
    background-color: #f5f6f7;
    padding: 10px auto;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}

.ordinaryJoin {
    height: 37px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin: 30px 0 30px;
}

.unactivatedJoinColor {
    background-color: #0080FF;
}

.activatedJoinColor {
    background-color: #00aeff;
}

.joinWindow * {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.noneunderline {
    text-decoration:none;
}

/* 입력폼 */

input:focus {
    outline: none;
}


h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}


.box {
    display: block;
    width: 80%;
    height: 45px;
    border: solid 1px #dadada;
    padding: 6px 14px 6px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    border: 1px solid #eaeaea;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.box.int_id {
    padding-right: 110px;
}

.box.int_pass {
    padding-right: 40px;
}

.box.int_pass_check {
    padding-right: 40px;
}

.step_url {
    /*@naver.com*/
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
}

.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

#bir_wrap {
    display: table;
    width: 85%;
}

#bir_yy {
    display: table-cell;
    width: 149px;

}

#bir_mm {
    display: table-cell;
    width: 149px;
    vertical-align: middle;
}

#bir_dd {
    display: table-cell;
    width: 149px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

.si_btn {
text-align: center;
margin-bottom: 30px;
}