.main-image {
    position: relative;
    height: 905px;
    overflow: hidden;
    background-image: url('https://blog.toss.im/wp-content/uploads/2018/10/%EB%A9%94%EC%9D%B8-%ED%95%B4%EC%99%B8%EC%A3%BC%EC%8B%9D-%ED%88%AC%EC%9E%90-%ED%8A%B9%EC%A7%95%EA%B3%BC-%EC%A3%BC%EC%8B%9D-%EB%A7%A4%EB%A7%A4-%EC%88%98%EC%88%98%EB%A3%8C%EB%8A%94-%EC%96%B4%EB%96%BB%EA%B2%8C-%EB%90%98%EB%82%98%EC%9A%94-1024x538.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 1px;
    opacity: 0.5;
}
.search-box{
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60px;
  background-color: #fff;
  border: 1px solid #464646;
  border-radius: 30px;
  transition: 0.4s;
  width:370px;
  box-shadow: 0px 0px .5px 1px #464646;
}

.search-btn{
  text-decoration: none;
  float: right;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #464646;
}
.search-box:hover > .search-btn{
  background-color: #fff;
}
.search-txt{
  padding: 0;
  width: 300px;
  border:none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 40px;
  padding: 0 6px;
}
.search-box:hover > .search-txt{
  width: 300px;
  padding: 0 6px;
}