<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <title>주식</title>
</head>
<body>
    <div class="head">
        <div class="name">은혜갚은 AI</div>
        <div class="home">주식</div>
        <div class="menu">커뮤니티</div>
        <div class="menu">문의하기</div>
        <div class="q">마이페이지</div>
        <div class="h_right2">로그아웃</div>
        <div class="h_right">메시지</div>
    </div>

    <section class="main-section">
        <div class="search">
            검색해주세요
        </div>
        <div class="searchbar-wrap">
            <i class="fas fa-search"></i>
            <input class="search-input" type="text"/>
            <i class="fas fa-keyboard"></i>
        </div> 
        <div class="buttons">
            <button>연령별</button>
            <button>투자금액별</button>
            <button>실시간 급상승 검색어</button>
        </div>
        <div class="now-lang">
            <span>추천 주식 </span><a href="#" style="color: #0080FF;">보러가기</a>
        </div>
    </section>
</body>
</html>