<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="{% static 'css/navi.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">

    <title>Nav bar</title>

    <script src="https://kit.fontawesome.com/2d323a629b.js"
            crossorigin="anonymous">
    </script>
</head>
<body>
    <nav class="navbar">

        <ul class="navbar_menu">
            <div class="navbar_logo">
            <a class="a_d" href="/">은혜갚은 AI</a>
            </div>
            <li><a class="a_d" href="{%url 'stock:index' %}">주식</a></li>
            <li><a class="a_d" href="{%url 'board:list' %}">커뮤니티</a></li>
            <li><a class="a_d" href="{%url 'mypage:mypage' %}">마이페이지</a></li>
        </ul>

        <ul class="navbar_icons">
            {% if user.is_authenticated %}
            <li><a class="a_d" >{{ user.n_name }}님</a></li>
            <li><a class="a_d" href="{% url 'users:logout' %}">로그아웃</a></li>
            {% else %}
            <li><a class="a_d" href="{% url 'users:signup' %}">회원가입</a></li>
            <li><a class="a_d" href="{% url 'users:login' %}">로그인</a></li>
            {% endif %}
        </ul>

        <a href="#" class="a_d navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</body>
<script src="{% static 'js/navi.js' %}"></script>
</html>