<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    </head>
    <body>
        <!-- 헤드 영역 -->
        <div class="head">
            <div class="name"><a href="#" class="noneunderline">은혜갚은 AI</a></div>
            <div class="home"><a href="#" class="noneunderline">주식</a></div>
            <div class="menu" style="color: #0080FF; font-weight: 600;"><a href="#" class="noneunderline">커뮤니티</a></div>
            <div class="menu"><a href="#" class="noneunderline">문의하기</a></div>
            <div class="q"><a href="#" class="noneunderline">마이페이지</a></div>
            <div class="h_right2"><a href="#" class="noneunderline">로그아웃</a></div>
            <div class="h_right"><a href="#" class="noneunderline">메시지</a></div>
        </div>

        <div id="board_area"> 
            <h1>자유게시판</h1>
            <h4>자유롭게 글을 쓸 수 있는 게시판입니다.</h4>
              <table class="list-table">
                <thead>
                    <tr>
                        <th width="70">번호</th>
                          <th width="500">제목</th>
                          <th width="120">글쓴이</th>
                          <th width="100">작성일</th>
                          <th width="100">조회수</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width="70"><?php echo $board['idx']; ?></td>
                      <td width="500"><a href=""><?php echo $title;?></a></td>
                      <td width="120"><?php echo $board['name']?></td>
                      <td width="100"><?php echo $board['date']?></td>
                      <td width="100"><?php echo $board['hit']; ?></td>
                    </tr>
                  </tbody>
                </table>
                <div class="write_btn">
                  <a href="#"><button id="w_btn">글쓰기</button></a>
                </div>
        </div>

    </body>
    </html>